{% extends "base.html" %}

{% block conteudo %}

<div class="container">

    <form method="post" action="/autenticar">

        
        <fieldset>
            {{ form.csrf_token() }}

            <div class="mb-2">
                {{ form.usuario.label(class='form-label') }}
                {{ form.usuario(class='form-control') }}
            </div>
            
            <div class="mb-2">
                {{ form.senha.label(class='form-label')}}
                {{ form.senha(class='form-control') }}
            </div>

            <div>
                {{ form.logar(class='btn btn-success') }}
            </div>
            
        </fieldset>
    
    </form>
</div>

{% endblock %}